= simple_form_for @admin, url: sessions_path do |f|
  .form-group
    = f.input :login, label: t('login'), input_html: { class: 'form-control' }
  .form-group
    = f.input :password, label: t('password'), input_html: { class: 'form-control' }
  .form-group
    = f.submit t('submit'), class: 'btn btn-primary'
