= simple_form_for @admin, url: sessions_path do |f|
  .form-group
    = f.input :login, input_html: { class: 'form-control' }
  .form-group
    = f.input :password, input_html: { class: 'form-control' }
  .form-group
    = f.submit :submit, class: 'btn btn-primary'
