= link_to 'New', new_admins_user_path, class: 'btn btn-primary'
%div
  Users
  %table.table
    %thead
      %th First name
      %th Last name
    %tbody
      - @users.each do |user|
        %tr
          %th= user.first_name
          %th= user.last_name
